<h1>Editing processed file</h1>

<%= render "form", processed_file: @processed_file %>

<br>

<div>
  <%= link_to "Show this processed file", @processed_file %> |
  <%= link_to "Back to processed files", processed_files_path %>
</div>
