<h1>Editing prompt request</h1>

<%= render "form", prompt_request: @prompt_request %>

<br>

<div>
  <%= link_to "Show this prompt request", @prompt_request %> |
  <%= link_to "Back to prompt requests", prompt_requests_path %>
</div>
